---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

.center {
  align-content: center;
  align-items: center;
  text-align: center;
}

.separator {
  height: 1px;
  border-top: 1px solid $grey-color-light;
  display: block;
  position: relative;
  top: 1px;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 20px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.section-subtitle {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.sponsor-image {
  width: 220px;
  height: 124px;
  margin: 5px;
}

// Import partials from the `minima` theme.
@import "minima";
